body,html {
  margin:0;
  padding:0;
}

ul {
  list-style: none;
  columns: 4;
  column-gap: 0;
  overflow: hidden;
  padding:0;
  margin:0;
}

li {
  margin: 0;
  padding: 0;
}

img {
  max-width:100%;
  transition: all 0.5s ease-in-out 0.2s;
  display: block;
  object-fit: cover;
  filter: saturate(0.25);
}

img:hover {
   filter: saturate(1);
}
